.mainIndex {
    display: flex;
    flex-direction: column;
}
.formField {
    margin: 2rem;
    background-color: #f1dada;
}
.table {
    width: 95%;
    margin: auto;
    background-color: #f1dada;
}
.dateForm {
    margin-left: 2rem;
}